#pics {
	font-size: 12px;
	padding-top: 60px;
}

h1 {
	padding-left: 60px;
	font-family: 'Pacifico', cursive;
	font-size: 40px;
}

img {
	padding: 4px;
}

.gear_load { 
  width: 100px; 
  margin: 0 auto; 
  padding: 12% 0;
}

.gear_load img {
  padding: 10% 0;
}
